# dependencies
/node_modules

# next.js
/.next/
/out/

# cloudflare / opennext
/.open-next/
/.wrangler/
cloudflare-env.d.ts

# misc
.DS_Store
*.pem
npm-debug.log*
.env*

# typescript
*.tsbuildinfo
next-env.d.ts
tokens.txt